.b0{
  grid-area: b0;  
}

.b1{
  grid-area: b1;  
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.b4 {
    grid-area: b4;
}

.b5 {
    grid-area: b5;
}

.b6 {
    grid-area: b6;
}

.b7 {
    grid-area: b7;
}

.b8 {
    grid-area: b8;
}

.b9 {
    grid-area: b9;
}

.decimal{
    grid-area: deci;
}

.add {
    grid-area: addition;
}

.subtract {
    grid-area: subt;
}

.multiply {
    grid-area: mult;
}

.divide {
    grid-area: div;
}

.equal {
    grid-area: equal;
}
.input{
    grid-area: input;
}

button{
    background-color: orangered;
    height: 12vh;
    font-size: x-large;
}

input{
    font-size: xx-large;
}

.container {
    display: grid;
    margin: auto;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'input input input addition'
    'b1 b2 b3 subt'
    'b4 b5 b6 mult'
    'b7 b8 b9 div'
    'deci b0 equal equal';
}